priv/wsdl/telephony_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://telephony.coxauto.com/services"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
             targetNamespace="http://telephony.coxauto.com/services"
             name="TelephonyService">

  <!-- Security Policy -->
  <wsp:Policy wsu:Id="UsernameTokenPolicy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10/>
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

  <!-- Types Section -->
  <types>
    <xsd:schema targetNamespace="http://telephony.coxauto.com/services" elementFormDefault="qualified">
      
      <!-- Call Management Types -->
      <xsd:complexType name="Call">
        <xsd:sequence>
          <xsd:element name="callId" type="xsd:string"/>
          <xsd:element name="fromNumber" type="xsd:string"/>
          <xsd:element name="toNumber" type="xsd:string"/>
          <xsd:element name="startTime" type="xsd:dateTime"/>
          <xsd:element name="endTime" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="duration" type="xsd:int" minOccurs="0"/>
          <xsd:element name="status" type="tns:CallStatus"/>
          <xsd:element name="direction" type="tns:CallDirection"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="CallStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="RINGING"/>
          <xsd:enumeration value="CONNECTED"/>
          <xsd:enumeration value="DISCONNECTED"/>
          <xsd:enumeration value="BUSY"/>
          <xsd:enumeration value="NO_ANSWER"/>
          <xsd:enumeration value="FAILED"/>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="CallDirection">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="INBOUND"/>
          <xsd:enumeration value="OUTBOUND"/>
        </xsd:restriction>
      </xsd:simpleType>

      <!-- Phone Line Types -->
      <xsd:complexType name="PhoneLine">
        <xsd:sequence>
          <xsd:element name="lineId" type="xsd:string"/>
          <xsd:element name="number" type="xsd:string"/>
          <xsd:element name="description" type="xsd:string"/>
          <xsd:element name="status" type="tns:LineStatus"/>
          <xsd:element name="features" type="tns:LineFeatures"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="LineStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ACTIVE"/>
          <xsd:enumeration value="INACTIVE"/>
          <xsd:enumeration value="BUSY"/>
          <xsd:enumeration value="OUT_OF_SERVICE"/>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="LineFeatures">
        <xsd:sequence>
          <xsd:element name="callWaiting" type="xsd:boolean"/>
          <xsd:element name="callForwarding" type="xsd:boolean"/>
          <xsd:element name="voicemail" type="xsd:boolean"/>
          <xsd:element name="conferenceCall" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- Request/Response Elements -->
      <xsd:element name="InitiateCallRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fromNumber" type="xsd:string"/>
            <xsd:element name="toNumber" type="xsd:string"/>
            <xsd:element name="lineId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="InitiateCallResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="call" type="tns:Call"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="EndCallRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="callId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="EndCallResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
            <xsd:element name="finalCall" type="tns:Call"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetCallStatusRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="callId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetCallStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="call" type="tns:Call"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ListActiveLinesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="includeInactive" type="xsd:boolean" default="false"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ListActiveLinesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lines" type="tns:PhoneLine" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- Messages -->
  <message name="InitiateCallRequest">
    <part name="parameters" element="tns:InitiateCallRequest"/>
  </message>
  <message name="InitiateCallResponse">
    <part name="parameters" element="tns:InitiateCallResponse"/>
  </message>

  <message name="EndCallRequest">
    <part name="parameters" element="tns:EndCallRequest"/>
  </message>
  <message name="EndCallResponse">
    <part name="parameters" element="tns:EndCallResponse"/>
  </message>

  <message name="GetCallStatusRequest">
    <part name="parameters" element="tns:GetCallStatusRequest"/>
  </message>
  <message name="GetCallStatusResponse">
    <part name="parameters" element="tns:GetCallStatusResponse"/>
  </message>

  <message name="ListActiveLinesRequest">
    <part name="parameters" element="tns:ListActiveLinesRequest"/>
  </message>
  <message name="ListActiveLinesResponse">
    <part name="parameters" element="tns:ListActiveLinesResponse"/>
  </message>

  <!-- Port Type -->
  <portType name="TelephonyPortType">
    <operation name="InitiateCall">
      <input message="tns:InitiateCallRequest"/>
      <output message="tns:InitiateCallResponse"/>
    </operation>
    <operation name="EndCall">
      <input message="tns:EndCallRequest"/>
      <output message="tns:EndCallResponse"/>
    </operation>
    <operation name="GetCallStatus">
      <input message="tns:GetCallStatusRequest"/>
      <output message="tns:GetCallStatusResponse"/>
    </operation>
    <operation name="ListActiveLines">
      <input message="tns:ListActiveLinesRequest"/>
      <output message="tns:ListActiveLinesResponse"/>
    </operation>
  </portType>

  <!-- Binding -->
  <binding name="TelephonyBinding" type="tns:TelephonyPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference URI="#UsernameTokenPolicy"/>
    
    <operation name="InitiateCall">
      <soap:operation soapAction="http://telephony.coxauto.com/services/InitiateCall"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="EndCall">
      <soap:operation soapAction="http://telephony.coxauto.com/services/EndCall"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="GetCallStatus">
      <soap:operation soapAction="http://telephony.coxauto.com/services/GetCallStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>

    <operation name="ListActiveLines">
      <soap:operation soapAction="http://telephony.coxauto.com/services/ListActiveLines"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <!-- Service -->
  <service name="TelephonyService">
    <port name="TelephonyPort" binding="tns:TelephonyBinding">
      <soap:address location="https://telephony.coxauto.com/soap"/>
    </port>
  </service>

</definitions>